<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <title>
            Designing Stock webpage
        </title>

        <link rel="stylesheet" href="{% static 'oks.css' %}">

        <style>


        </style>

    </head>
    <body id="para1">
        <div class ="main">
        <div class ="navbar">
            <div class ="icon">
                <h2 class ="jogo">StockBot</h2>
            </div>
            <div class ="menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="About.html">About</a></li>
                    <li><a href="Contect.html">Contect</a></li>
                    <li><a href="Market.html">Market</a></li>
                    <li><a href="SharePrise.html">SharePrice</a></li>
                    <li><a href="Trade.html">Trade</a></li>
                </ul>
            </div>
            <div class ="search">
                <input class ="srch" type="search" name= "" placeholder="Type To Text">
                <a href ="#"> <button class ="btn">Search</button></a>
            </div>
        </div>



        <div class="content">
            <h1>Learn & <br><span>Earn From</span> <br>Markets</h1>
            <p class="par">Stock markets are components of a free-market economy because they enable democratized <br>access to investor trading and exchange of capital<br>
                Stock markets are venues where buyers and sellers meet to exchange <br>equity shares of public corporations</p>

                <button class="cn"><a href="#">JOIN US</a></button>

                <div class="form">
                    <h2>Login Here</h2>
                    <input type="email" name="email" placeholder="Enter Email Here">
                    <input type="password" name="" placeholder="Enter Password Here">
                    <button class="btnn"><a href="#">Login</a></button>

                    <p class="link">Don't have an account<br>
                    <a href="#">Sign up </a> here</a></p>
                    <p class="liw">Log in with</p>

                    <div class="icons">
                        <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-google"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-skype"></ion-icon></a>
                    </div>

                </div>
                    </div>


     </div>
     <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    </body>
</html>